
<!-- <div class="row" >
    <h2 class="link">{{title}}</h2>
    <div *ngFor="let galleryModel of galleryModels" class="coloumn">
        <gallery-Item [Url]="galleryModel.filepath" [alter]="galleryModel.alt" ></gallery-Item>
    </div>
    <a class="link" href="#">View More...</a>   
</div>      -->
<div class="container">
<div class="row">
    <h2 class="link">{{title}}</h2>
    <div *ngFor="let galleryModel of galleryModels" class="coloumn1 col-md-4">
    <gallery-Item [Url]="galleryModel.filepath" [alter]="galleryModel.alt" ></gallery-Item>
    </div>
</div>
<a class="link" href="#">View More...</a>
</div>











        <!-- <gallery-Item [Url]="'assets/pic6.jpg'" [alter]="'Mountains'" ></gallery-Item>
        <gallery-Item [Url]="'assets/pic3.jpg'" [alter]="'Mountains'" ></gallery-Item> -->
    


<!-- <div class="row" >
    <div *ngFor="let galleryModel of galleryModels" class="coloumn">
        <gallery-Item [Url]="'galleryModel.Filepath'" [alter]="'Mountains'" ></gallery-Item>
    <gallery-Item [Url]="'assets/pic3.jpg'" [alter]="'Mountains'" ></gallery-Item>
    <gallery-Item [Url]="'assets/pic1.jpg'" [alter]="'Mountains'" ></gallery-Item>
    </div>
</div> -->





