.testimonials-clean p {
    color:#7d8285;
  }
  
  .testimonials-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }

  .testimonials-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .testimonials-clean .intro p {
    margin-bottom:0;
  }
  
  .testimonials-clean .people {
    padding:50px 0 20px;
  }

.testimonials-clean .item {
    margin-bottom:32px;
  }

  .testimonials-clean .item .author {
    margin-top:28px;
    padding-left:1px;
  }
  
  .testimonials-clean .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:#9acd32;
  }
  
  .testimonials-clean .item .title {
    font-size:13px;
    color:#9da9ae;
  }
  
  .testimonials-clean .item .description {
    font-size:15px;
    margin-bottom:0;
  }
  
  .testimonials-clean .item img {
    float:left;
    margin-right:15px;
    margin-top:-5px;
    max-height:100px;
    max-width:100px;
   
  }
img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border-style: solid;
    border-width: thick;
    border-color:#969696;
}
.name{
    color: #9acd32;
}
