.appcolumn{
    margin-right: -68px;
    padding-top: 40px;
}
.appimg{
    padding-top: 40px;

}
.title[_ngcontent-syb-c14]{
    text-align: center !important;
}

.appcontent{
padding-left: 91px;
    padding-top: 78px;
}