    <div>
        <div>
                <main-header></main-header>
                <menu-list></menu-list>
                <statistics-list></statistics-list>
            <div class="row">
                <h2 class="title" style="text-align:center;">Courses and Workshops</h2>
                <div class="col-sm-3 col-lg-4 appcolumn">
                    <item-list></item-list>
            </div>
            <div class="col-sm-4 col-lg-4 appcolumn">
                    <event-image></event-image>
            </div>

            <div class="col-sm-55 col-lg-4 appcontent" style="padding-left: 91px;">
                    <event-list></event-list>
            </div>
<!-- <app-create-event></app-create-event> -->
<testimonials-list></testimonials-list>
<div class="container">

        <div class="row">
            <div class="col-sm-4" style="padding: 0;">
                <app-contactinfo-list></app-contactinfo-list>
    
            </div>
            <div class="col-sm-4" style="padding: 0;">
                <quicklinks-list></quicklinks-list>
            </div>
            <div class="col-sm-4" style="padding: 0;">
                <app-gallery-list></app-gallery-list>
            </div>
        </div>

        </div>
    </div>
 </div>
 <hr style="margin: 0; opacity: 0.8;">
   <app-footer></app-footer>             

