
<div> 
    <div id="main">
        <div id="text">
            <h5>{{title}}</h5>
            <p>{{text}}</p>
        </div>
        <div id="circle" >
            <p id="value" [style.background-color]="circleColor" >{{value}}+ </p>
        </div>
    </div>
    
<!-- <div id="main1">
        <div id="circle1">
            <p id="value" [style.background-color]="circleColor">{{value}}+ </p>
        </div>
        <div id="text1">
            <h3>{{title}}</h3>
            <p>{{text}}</p>
        </div>
    </div>   -->
</div>