<p>create-testi-monials works!</p>
<table>
    <tr>
        <td>Title:</td>
        <td><input [(ngModel)]="Title" type="text" /></td>
    </tr>
    <tr>
            <td>Contents:</td>
        <td><input [(ngModel)]="Contents" type="text"  /></td>
        </tr>
                <tr>
                        <td><button type="button" name="submit" (click)="onSubmitClick()">submit</button></td>
                        <td><button type="button" name="clear" (click)="onClearClick()">clear</button></td>
                    </tr>
</table>

