<ul>
        
        <!-- <li><a routerLinkActive="active" routerLink="quicklinks">QuickLinks</a></li> -->
        <li><a routerLinkActive="active" routerLink="./quickLinks">QuickLinks</a></li>
       
        <li><a  routerLinkActive="active" routerLink="./gallery" >Gallery</a></li>    
        <!-- <li><a  routerLinkActive="active" routerLink="/listgallery" >GalleryList</a></li>    -->
        <li><a  routerLinkActive="active" routerLink="./events" >Events</a></li> 
        <li><a  routerLinkActive="active" routerLink="./datastatisticcs" >DataStatistics</a></li> 
        <li><a  routerLinkActive="active" routerLink="./testimoninals" >Testinominals</a></li> 
        <li><a  routerLinkActive="active" routerLink="./contactinfo" >ContactInfo</a></li> 
        <li><a  routerLinkActive="active" routerLink="./menu" >Menu</a></li> 
    </ul>
    
    <div class="router">
        <router-outlet></router-outlet>
    </div>
    