<p>create-testi-monials works!</p>

<table>
    <tr>
        <td>ContentMessage:</td>
        <td><input [(ngModel)]="ContentMessage"  type="text" /></td>
    </tr>
    <tr>
            <td>ImageSource:</td>
        <td><input [(ngModel)]="ImageSource"  type="text" /></td>
    </tr>
    <tr>
            <td>Name:</td>
            <td><input [(ngModel)]="Name"  type="text" /></td>
    </tr>
    <tr>
            <td>Role:</td>
            <td><input [(ngModel)]="Role"  type="text" /></td>
    </tr>
    <tr>
        <td><button type="button" name="submit" (click)="onSubmitClick()">submit</button></td>
        <td><button type="button" name="clear" (click)="onClearClick()">clear</button></td>
    </tr>
</table>

