/* .row {
    margin: 0;
    margin-right: 3px;
    
  }
  .row,
  .row > .column {
    padding: 3px;

    
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .link{
    padding-left: 70%;
    color: white;
    text-decoration:none
  } */
  .column1 {
    float: left;
    width: 119px;
    padding: 3px;
  }
  .container {
    background-color: black;
    height: 300px;
    align-items: center;
  }
  .link{

    color: white;
   
  } 